#IDE setup folders/files etc
**/*~
**/*.DS_Store
**/Thumbs.db
*.iml
*.egg-info
*.egg-info/
.git
.idea
*.py[cod]
__pycache__
.virtual_documents
.ipynb_checkpoints

MANIFEST.in
LICENSE.md

#General

#App folders/files
**/*.log
#**/*.env
**/*.github
archive/

**/.ipynb_checkpoints
**/.virtual_documents

**/venv