[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "6.2"

[packages]
pandas = "1.2"
numpy = "1.20"
pymysql = "1.0"
pyarrow = "4.0"
python-dotenv = "0.17"
#Pipeline
#sqlalchemy = "1.4"
#jupyter = "1.0"
#papermill = "2.3"
sshtunnel = "0.4"