[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
# If using directly in your
# local python installation (outside of Docker)
# and you do not have python 3.9 installed, then:
# 1. install pyenv
# 2. pyenv install 3.9.0
# 3. cd nanohub
# 4. pyenv local 3.9.0
# 5. pipenv install --python 3.9.
python_version = "3.9"

[dev-packages]
pytest = "6.2"

[packages]
# need to define exact (pre) version for black
# delete Pipenv.lock file and then run pipenv install again
black = "*"
isort = "*"
typer = "*"
google-cloud-storage = "*"
gcsfs = "*"
fsspec = "*"
pandas = "*"
numpy = "*"
pymysql = "1.0"
pyarrow = "4.0"
python-dotenv = "*"
papermill = "*"
sshtunnel = "*"
dependency-injector = "*"
pyyaml = "*"
pydantic = "*"
memory-profiler = "*"
ipykernel = "*"
jupyter = "*"
jupyterlab = "*"
nbconvert = "*"
dask = "*"
##########################################
# Jupyter Extensions
nodeenv = "*"
jupyterlab_templates = "*"
jupyterthemes = "*"
jupyter_contrib_nbextensions = "*"
jupyter_nbextensions_configurator = "*"
jupyterlab_execute_time = "*"
jupyterlab_code_formatter = "*"
jupyterlab-system-monitor = "*"
#jupyterlab_sql = "*"
jupyterlab-quickopen = "*"
jupyterlab_executor = "*"
RISE = "*"
jupyter_helpers = "*"
#qgrid = "*"
#ipywidgets = "*"
#jupyterlab-topbar = "*"
#lckr-jupyterlab-variableinspector = "*"
#jupyterlab-lsp = "*"
#python-lsp-server = {extras = ["all"],version = "*"}
#jupyterlab_voyager = "*"
##########################################
#jupyterlab-git = "*"
#pipenv-setup = "*"
#mycli = "*"
#pyinstaller = "*"
#notifiers = "*"
#XlsxWriter = "1.4.3"
matplotlib = "*"
# Installing seaborn can give errors, such as:
# 1. To build Scipy from sources, BLAS & LAPACK libraries need to be installed.
# 2. numpy.distutils.system_info.NotFoundError: No BLAS/LAPACK libraries found. Note: Accelerate is no longer supported.
# This happens because pipenv is trying to build numpy and scipy from source.
# Solution - export SYSTEM_VERSION_COMPAT=1
seaborn = "*"
plotly = "*"
chart-studio = "*"
sklearn = "*"

portray = "*"
icecream="*"


[pipenv]
allow_prereleases = true