[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[dev-packages]
pytest = "6.2"

[packages]
# need to define exact (pre) version for black
# delete Pipenv.lock file and then run pipenv install again
black = "==19.10b0"
typer = "*"
pandas = "*"
numpy = "*"
pymysql = "1.0"
pyarrow = "4.0"
python-dotenv = "*"
papermill = "2.3.3"
sshtunnel = "0.4"
dependency-injector = "*"
pyyaml = "5.4"
pydantic = "*"
memory-profiler = "0.58"
ipykernel = "*"
jupyter = "*"
jupyterlab = "*"
#jupyterlab-git = "*"
#pipenv-setup = "*"
#mycli = "*"
#pyinstaller = "*"
#notifiers = "*"
#XlsxWriter = "1.4.3"
matplotlib = "*"
# Installing seaborn can give errors, such as:
# 1. To build Scipy from sources, BLAS & LAPACK libraries need to be installed.
# 2. numpy.distutils.system_info.NotFoundError: No BLAS/LAPACK libraries found. Note: Accelerate is no longer supported.
# This happens because pipenv is trying to build numpy and scipy from source.
# Solution - export SYSTEM_VERSION_COMPAT=1
seaborn = "*"
plotly = "*"
chart-studio = "*"
sklearn = "*"
